{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "consistent-return": "off",
    "global-require": "off",
    "react/jsx-one-expression-per-line": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint"
}
